{% extends 'base.html' %}
{% block title %} This is a login page {% endblock %}

{% block body %}
<form method="post">
    <!--value="{{request.form.username }}-->
    <h3 style="text-align: center;">Login page with OTP authentication</h3>
    <label for="username">Username: </label>
    <input type="text" name="username">
    <br><br>
    <label for="password">Password: </label>
    <input type="password" name="password">
    <br><br>
    <hr>
    {% if error %}
    <p class="error"><strong>Error:</strong> {{error}}</p>
    <label for="otp_code">Enter your OTP code:</label>
    <input type="text" name="otp_code">
    {% endif %}
    <br><br>
    <input class="btn btn-default" type="submit" value="Login">
</form>

{% endblock %}