{% extends 'base.html' %}
{% block title %} This is a login page {% endblock %}

{% block body %}
<form method="post">
    <!--value="{{request.form.username }}-->
    <h3 style="text-align: center;">Login page with OTP authentication</h3>
    <label for="username">Username: </label>
    <input type="text" name="username">
    <br><br>
    <label for="password">Password: </label>
    <input type="password" name="password">
    <br><br>
    <input class="btn btn-default" type="submit" value="Login">
</form>
{% if error %}
<p class="error" style="padding: 10px"><strong>Error:</strong> {{error}}</p>
{% endif %}
{% endblock %}