{% extends 'base.html' %}
{% block title %} This is a login page {% endblock %}

{% block body %}
<form action="/login" method="post">
    <!--value="{{request.form.username }}-->
    <h3 style="text-align: center;">Log in to the landing page</h3>
    <label for="username">Username: </label>
    <input type="text" name="username">
    <br><br>
    <label for="password">Password: </label>
    <input type="password" name="password">
    <br><br>
    <label for="password">OTP Code: </label>
    <input type="text" name="otp">
    <br><br>
    <hr>

    {% if error %}
        <p class="error"><strong>Message:</strong> {{error}}</p>
    {% endif %}
    <input class="btn btn-default" type="submit" value="Login">
    <p class="text">New user? <a href="/register">Register here</a></p>
</form>

{% endblock %}