{% extends 'base.html' %}
{% block title %}Register for an account{% endblock %}
{% block body %}
<form method="post">
    <h3 class="text">Register for a new account</h3>
    <label for="Username">Enter your username: </label><br>
    <input type="text" name="username">
    <br><br>
    <label for="Password">Enter your new password: </label>
    <input type="password" name="password">
    <br><br>
    <label for="Email">Enter your email</label>
    <input type="email" name="email">
    <br><br>
    <input type="submit" value="Register">
    <hr>
    <p class="text">Already have an account? <a href="/index.html">Log in</a></p>
    {% if error %}
        <p class="error"><strong>Message:</strong> {{error}}</p>
    {% endif %}
</form>
{% endblock %}